<div class="flex flex-col min-h-screen space-y-2">
  <div class="header">
    <div class="flex space-x-2 justify-center">
      <button (click)="requestData()">Console log session data</button>
      <button (click)="sendMockShipData()">Place mock ships</button>
      <button (click)="setMockSessionData()">Set mock session data</button>
      <button (click)="destroyEverything()">Destroy</button>
      <button (click)="sendMockShipData()">place ships</button>
    </div>
  </div>

  <div class="game">
    <div class="flex flex-col">
      <h1 class="text-center">{{ gameData?.playerOne?.name }}</h1>
      <app-board
        [areShipsPlaced]="gameData?.areShipsPlaced"
        [board]="gameData?.playerOne?.board"
      ></app-board>
    </div>
    <div class="flex flex-col">
      <h1 class="text-center">{{ gameData?.playerTwo?.name }}</h1>
      <app-board
        [isYourMove]="gameData?.isYourMove"
        [board]="gameData?.playerTwo?.board"
      ></app-board>
    </div>
  </div>
</div>
