<div class="flex flex-col min-h-screen space-y-2">
  <div class="header">
    <h2 class="text-center">
      {{ gameData?.playerOne?.name }} vs {{ gameData?.playerTwo?.name }}
    </h2>

    <div class="flex space-x-2 justify-center">
      <button (click)="requestData()">Console log session data</button>
      <button (click)="sendMockShipData()">Place mock ships</button>
      <button (click)="setMockSessionData()">Set mock session data</button>
      <button (click)="destroyEverything()">Destroy</button>
    </div>
  </div>

  <div class="game">
    <app-board [board]="gameData?.playerOne?.board"></app-board>
    <app-board [board]="gameData?.playerTwo?.board"></app-board>
  </div>

  <button (click)="sendShipData()">place ships</button>
</div>
