

<!--ship placing area -->
<div *ngIf="isMyBoard && placingShips" class="d-flex justify-content-around py-2">
  <button
    [disabled]="shipIsPlaced(shipType)"
    *ngFor="let shipType of shipTypes"
    (click)="currentlyPlacingShipType = shipType"
  >
    {{ ShipType[shipType] }}
  </button>
</div>

<!-- ship moving area -->
<div *ngIf="isMyBoard && placingShips" class="d-flex justify-content-around py-2">
  <button
    *ngFor="let moveDirection of moveDirections"
    (click)="currentlyMovingDirection = moveDirection"
  >
    {{ MoveDirection[moveDirection] }}
  </button>
  <button (click)="currentlyMoving(undefined)"> done </button>
</div>





<div class="board">
  <div *ngFor="let row of board?.cells" class="board-row">
    <div
      *ngFor="let cell of row"
      (click)="onCellClick(cell)"
      (contextmenu)="onCellClick(cell, true)"
      class="cell p-0 m-0 board__cell {{ getCellType(cell) }} {{
        isEditable()
      }}"
    ></div>
  </div>
</div>
