.row:nth-child(odd) .cell:nth-child(odd) {
  background-color: #efefef;
}
.row:nth-child(odd) .cell:nth-child(even) {
  background-color: #cdcdcd;
}
.row:nth-child(even) .cell:nth-child(odd) {
  background-color: #cdcdcd;
}
.row:nth-child(even) .cell:nth-child(even) {
  background-color: #efefef;
}

.cell {
  @apply border hover:border-dotted hover:border-black hover:border-2 aspect-square;
}

.board {
  @apply border-8 border-black grid grid-cols-10;
}

.emptyshot {
  @apply bg-slate-100 !important;
}

.ship {
  @apply bg-black !important;
}

.damage {
  @apply bg-orange-200 !important;
}

.destroy {
  @apply bg-red-200 !important;
}

.notshot {
  @apply bg-white !important;
}
